
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
/*Header section*/
.container {
    height: auto;
    width: 90%;
    margin: auto;
    overflow: hidden;
}


header {
    background: #ffff;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}
header nav ul li a:hover{
    color: rgb(105, 204, 211);
}

header .search input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
header .account i{
    font-size: 24px;
    color: #333;
    margin-right: 10px;
}
header .sign button {
    padding: 5px 5px;
    background:black;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}
header .sign button:hover{
    background: #335;
}
/*centre image*/
.image{
    display: flex;          
    justify-content: center;  
    align-items: center;      
    min-height: 300px;
    background: #f9f9f9;
}
.image img{
    max-width: 100%;
    height: auto;
}
/* Container for the Free books*/
.free{
    color: rgb(10, 132, 10);
    padding: 10px;
}
.free h1{
    font-size: 2rem;
    margin-bottom: 10px;
}
.freeb {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    max-width: 1200px;
    margin: 0 auto;
    background: #f7f7f7;
}

/* Styling each photo of freebooks container */
.fb {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.fb img{
    width: 50%;
    height: auto;
}
.caption{
    color: black;
}