
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
/*Header section*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}
header img{
    height: 50px;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin:0 10px;
}

 nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}
nav ul li a:hover{
    color: rgb(105, 204, 211);
}

.search input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
 .account {
    font-size: 24px;
    color: #333;
    margin-right: 10px;
}
 .sign button {
    padding: 5px 10px;
    background-color:black;
    color: #fff;
    border: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}
 .sign button:hover{
    background: #335;
}
/*centre image*/
.image img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
/* Container for the Free books*/
.section{
 text-align: center;
 padding: 20px;
}
.section h1{
    color: #4caf50;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}
.grid {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    gap: 15px;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 5px;
}

/* Styling each photo of freebooks container */
.item{
    position: relative;
    overflow: hidden;
}
.item:hover {
    transform: scale(1.05);
}
.item img{
    padding-top: 8px;
    width: auto;
    height:200px;
    object-fit: cover;
}
.caption{
    color: black;
    text-align: center;
    padding:2px;
}
.name {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.price {
    font-size: 1em;
    color: #4caf50;
    margin: 5px 0 0;
}
.viewmore{
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.viewmore:hover {
    background-color: #45a049;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header{
        flex-wrap: wrap;
    }
    nav ul{
        justify-content: center;
        margin: 10px 0;
    }
    .account, .sign{
        margin-top: 10px;
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
 .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
  }
